.game_wrapper
    .chess_plate
        .chess_names
            span.left_names 8 7 6 5 4 3 2 1
            span.bottom_names a b c d e f g h
            span.right_names 8 7 6 5 4 3 2 1
            span.top_names a b c d e f g h
        table.chess_table